table(class='table table-bordered table-condensed')
  thead
    tr
      td(ng-repeat='headerItem in header' ng-class='headerItem.class')
        span(ng-bind='headerItem.title')
        span(ng-click="toggleOrder(headerItem)" class="pull-right" ng-if="!isSortedField(headerItem)")
          i(class="fa fa-sort")
        span(ng-click="toggleOrder(headerItem)" class="pull-right" ng-if="isSortedField(headerItem)" ng-switch="sort.direction")
          i(class="fa fa-sort-desc" ng-switch-when="DESC")
          i(class="fa fa-sort-asc" ng-switch-when="ASC")
  tbody(class='table-striped')
    tr(ng-repeat='dataItem in query')
      td(ng-repeat='headerItem in header')
        span(ng-switch='headerItem.fieldName')
          span(ng-switch-when='email')
            a(ui-sref='some.itemEdit({id: dataItem.id})' target='_blank')
              span(ng-bind='dataItem.email')
          span(ng-switch-when='date')
            | {{ dataItem.date | date:'dd.MM.yyyy HH:mm' }}
          span(ng-switch-default)
            span(ng-bind='dataItem[headerItem.fieldName]' ng-if="!headerItem.isDate")
            span(ng-if="headerItem.isDate") {{dataItem[headerItem.fieldName] | date:'dd.MM.yyyy'}}
div.pull-right(ng-if="total")
  span
    b Всего:
    = ' {{total}}'
